@page "{request?}"
@using System.Text
@using fiztestone.Models
@model fiztest.Pages.CoursesModel
@{
    ViewData["Title"] = "Home page";
}

<form>
    <p>
        Subject: <input type="text" asp-for="request.Subject" />
        Grade: <input type="text" asp-for="request.Grade" />
        Genre: <input type="text" asp-for="request.Genre" />
        <input type="submit" value="Filter" />
    </p>
</form>

    @functions{

  public void BuildTree(Module module )
      {
        <ul>
                 <li> @module.Text   
                 @if (module.ChildModules.Any())
                {
                   foreach(Module child in module.ChildModules)
                        BuildTree(child);
                }
                </li>
              
        </ul>
       }
    
    }
   <ul >
       @foreach(Course c in @Model.Courses){
           <li><b>@c.Title</b>
               <ul>@foreach(Module m in @c.Modules){
                   @*<li>@m.text</li>*@
               BuildTree(@m);
               }
               </ul>
               
           </li>
       }
   </ul>